* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Festive', cursive;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('./img/winter.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
}

/* body {
    background-image: url('./img/winter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px);
} */

.header {
  background-color: bisque;
  padding: 1rem;
}

.profile span {
  padding: 1.25rem;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1 0 auto;
  padding: 1.25rem;
  max-width: fit-content;
  max-height: fit-content;
  background-color: bisque;
  border-radius: 10px;
  margin: 30px;
  align-items: center;
  align-content: center;
}

nav ul {
  text-align: center;
  /* margin-top: 2rem; */
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: larger;
}

li {
  display: inline-block;
  margin-right: 8rem;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: bisque;
}

.footer a {
  margin-left: 8rem;
}

.footer a {
  color: black;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.job,
.profile {
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  li {
    display: inline-block;
    margin-right: 2rem;
  }
}

.text {
  font-size: larger;
  font-weight: 700;
  color: black;
}